[Unit]
Description=CI/CD Demo Service for Go Application
After=network.target

[Service]
ExecStart=/var/www/myapp
WorkingDirectory=/var/www/
User=ubuntu
Restart=on-failure
RestartSec=5
StartLimitInterval=0
Environment=GO_ENV=production

[Install]
WantedBy=multi-user.target

